$section-height: 100vh;
$section-width: 99vw;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	color: whitesmoke;
}

.loader-container{
	height: 250px;
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;

	.loader {
		width: 50px;
		aspect-ratio: 1;
		border-radius: 50%;
		border: 8px solid;
		border-color: #FAF9F6 transparent;
		animation: l1 1s infinite;
		transition: ease-in-out;
	}
	
	@keyframes l1 {to{transform: rotate(.5turn)}}
}

body {
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;

	.nav-bar{
		background-color: #444444d7;
		
		ul{
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin-right: 30px;
			margin-bottom: 0;
			gap: 20px;
			list-style-type: none;
			height: 9vh;
			font-size: 1.1rem;
		}

		a{
			text-decoration: none;
		}

	}

	.section-container{
		width: 100%;
		height: 100%;
		scroll-snap-type: y mandatory;
		overflow-y: scroll;
		transition: 0.15s;

		#landing {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: $section-width;
			height: $section-height;
			scroll-snap-align: start;
	
			#profile {
				height: 250px;
				width: 250px;
				border-radius: 25%;
				display: none;
			}
	
			h1 {
				width: 530.56px;
				overflow: hidden;
				white-space: nowrap;
				border-right: 2px solid whitesmoke;
				animation: typing 1s steps(12, end), cursor .2s steps(12, end) infinite, remove-border 0.1s 1s forwards;
			}
	
			p {
				width: 265px;
				overflow: hidden;
				white-space: nowrap;
				border-right: 2px solid whitesmoke;
				animation: typing 1s steps(12, end), cursor .2s steps(12, end) infinite, remove-border 0.1s 1s forwards;
			}
		}

		.bio{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			height: $section-height;
			width: $section-width;
			scroll-snap-align: start;
			text-align: center;

			.bio-text-image-container{
				display: flex;
			}

			.bio-text-container{
				width: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: justify;
			}

			.bio-image-container{
				width: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				
				img{
					width: 50vh;
					height: 50vh;
				}
			}
		}

		.certificates{
			display: flex;
			justify-content: center;
			align-items: center;
			height: $section-height;
			width: $section-width;
			scroll-snap-align: start;
		}

		.contact-me{
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			height: $section-height;
			width: $section-width;
			scroll-snap-align: start;
			flex-wrap: wrap;

			a{
				text-decoration: none;

				div{
					display: flex;
					justify-content: center;
					align-items: center;
					background: linear-gradient(180deg, #222222a9, #4b4b4b);
					backdrop-filter: blur(1px);
					border-radius: 3px;
					width: 23vw;
					height: 50vh;
					flex-direction: column;
					gap: 2vh;
					flex: 1;
					z-index: 5;
	
					h2{
						font-size: 1.2rem;
					}
	
					.fa-brands{
						font-size: 5rem;
					}
				}
	
				div:hover{
					h2{
						opacity: 0.8;
					}
	
					.fa-brands{
						animation: slide-from-bottom 0.5s ease-in forwards;
					}
				}
	
				div:not(:hover){
					.fa-brands{
						animation: slide-back 0.5s linear forwards;
					}
				}
			}
		}
	}
}

.dark {
	background-color: #FAF6F9;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%237F7F7F' stroke-width='10' stroke-opacity='0.47'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
}

.dark-text{
	color: black;
}

@keyframes slide-from-bottom {
	0%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(-180%);
	}
}

@keyframes slide-back {
	0%{
		transform: translateY(-180%);
	}
	100%{
		transform: translateY(0%);
	}
}

@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes cursor {
	50% {
		border-color: transparent;
	}
}

@keyframes remove-border {
	to {
		border-right: none;
	}
}

@keyframes imageTransition {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0.5;
	}
	100%{
		opacity: 1;
	}
}

@keyframes animate {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

/* Media Queries for Responsiveness */
@media only screen and (max-width: 1024px) {

	.nav-bar{
		ul{
			padding-right: 15px;
		}
	}

	#landing{
		h1 {
			width: 100%;
			font-size: 1.5rem;
		}

		p{
			width: 100%;
			font-size: 1.1rem;
		}

		#profile {
			height: 220px;
			width: 220px;
		}
	}
}

@media only screen and (max-width: 768px) {
	#landing{
		h1 {
			width: 100%;
			font-size: 1.4rem;
		}

		p{
			width: 100%;
			font-size: 1rem;
		}

		#profile {
			height: 200px;
			width: 200px;
		}
	}

	.nav-bar{
		font-size: 1rem;
	}
}

@media only screen and (max-width: 580px) {
	#landing{
		h1 {
			width: 100%;
			font-size: 1.2rem;
		}

		p{
			width: 100%;
			font-size: 0.9rem;
		}

		#profile {
			height: 180px;
			width: 180px;
		}
	}

	.nav-bar{
		font-size: 1rem;
	}

	.bio{
		.bio-text-image-container{
			.bio-text-container{
				font-size: 0.8rem;
			}
		}
	}
}

@media only screen and (max-width: 425px) {
	#landing{
		h1 {
			width: 100%;
			font-size: 0.9rem;
		}

		p{
			width: 100%;
			font-size: 0.8rem;
		}

		#profile {
			height: 150px;
			width: 150px;
		}
	}

	.nav-bar{
		ul{
			li{
				font-size: 0.8rem;
			}
		}
	}

	.bio{
		.bio-text-image-container{
			.bio-text-container{
				font-size: 0.7rem;
			}
			.bio-image-container{
				img{
					display: none;
				}
			}
		}
	}
}

@media only screen and (max-width: 375px) {
	#landing{
		h1 {
			width: 100%;
			font-size: 0.9rem;
		}

		p{
			width: 100%;
			font-size: 0.8rem;
		}

		#profile {
			height: 150px;
			width: 150px;
		}
	}

	.nav-bar{
		ul{
			li{
				font-size: 0.7rem;
			}
		}
	}

	.bio{
		.bio-text-image-container{
			.bio-text-container{
				font-size: 0.7rem;
			}
		}
	}
}

@media only screen and (max-width: 320px) {
	#landing{
		h1 {
			width: 100%;
			font-size: 0.9rem;
		}

		p{
			width: 100%;
			font-size: 0.8rem;
		}

		#profile {
			height: 150px;
			width: 150px;
		}
	}

	.nav-bar{
		ul{
			li{
				font-size: 0.5rem;
			}
		}
	}

	.bio{
		.bio-text-image-container{
			.bio-text-container{
				font-size: 0.7rem;
			}
		}
	}
}