* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
}

.loader-container {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-container .loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #FAF9F6 transparent;
  animation: l1 1s infinite;
  transition: ease-in-out;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}

body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
body .nav-bar {
  background-color: rgba(68, 68, 68, 0.8431372549);
}
body .nav-bar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5vw;
  margin-bottom: 0;
  gap: 20px;
  list-style-type: none;
  height: 9vh;
  font-size: 1.1rem;
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}
body .nav-bar ul .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
body .nav-bar ul .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
body .nav-bar ul .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body .nav-bar ul .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body .nav-bar ul input:checked + .slider {
  background-color: #2196F3;
}
body .nav-bar ul input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
body .nav-bar ul input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
body .nav-bar ul .slider.round {
  border-radius: 34px;
}
body .nav-bar ul .slider.round:before {
  border-radius: 50%;
}
body .nav-bar a {
  text-decoration: none;
}
body .section-container {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  transition: 0.15s;
}
body .section-container #landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 99vw;
  height: 100vh;
  scroll-snap-align: start;
}
body .section-container #landing #profile {
  height: 250px;
  width: 250px;
  border-radius: 25%;
  display: none;
}
body .section-container #landing h1 {
  width: 530.56px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid whitesmoke;
  animation: typing 1s steps(12, end), cursor 0.2s steps(12, end) infinite, remove-border 0.1s 1s forwards;
}
body .section-container #landing p {
  width: 265px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid whitesmoke;
  animation: typing 1s steps(12, end), cursor 0.2s steps(12, end) infinite, remove-border 0.1s 1s forwards;
}
body .section-container .bio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 99vw;
  scroll-snap-align: start;
  text-align: center;
}
body .section-container .bio .p-container {
  width: 50%;
  font-size: 1.5rem;
}
body .section-container .bio .p-container span {
  font-weight: bold;
}
body .section-container .certificates {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 99vw;
  scroll-snap-align: start;
}
body .section-container .contact-me {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 99vw;
  scroll-snap-align: start;
  flex-wrap: wrap;
}
body .section-container .contact-me a {
  text-decoration: none;
  display: flex;
}
body .section-container .contact-me a div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(34, 34, 34, 0.662745098), #4b4b4b);
  backdrop-filter: blur(1px);
  border-radius: 3px;
  width: 23vw;
  height: 50vh;
  flex-direction: column;
  gap: 2vh;
  z-index: 5;
}
body .section-container .contact-me a div h2 {
  font-size: 1.2rem;
}
body .section-container .contact-me a div .fa-brands {
  font-size: 5rem;
}
body .section-container .contact-me a div:hover h2 {
  opacity: 0.8;
}
body .section-container .contact-me a div:hover .fa-brands {
  animation: slide-from-bottom 0.5s ease-in forwards;
}
body .section-container .contact-me a div:not(:hover) .fa-brands {
  animation: slide-back 0.5s linear forwards;
}

.dark {
  background-color: #FAF6F9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%237F7F7F' stroke-width='10' stroke-opacity='0.47'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
}

.dark-text {
  color: #222222;
}

.light-contact-me-card {
  color: #222222;
}

@keyframes slide-from-bottom {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-180%);
  }
}
@keyframes slide-back {
  0% {
    transform: translateY(-180%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes remove-border {
  to {
    border-right: none;
  }
}
@keyframes imageTransition {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1024px) {
  .bio p {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 768px) {
  .bio p {
    font-size: 1.1rem;
  }
  .contact-me {
    flex-direction: column;
  }
}
@media screen and (max-width: 453px) {
  .nav-bar ul li {
    font-size: 1rem;
  }
  #landing h1 {
    font-size: 1.5rem;
  }
  .bio p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 375px) {
  .nav-bar ul li {
    font-size: 0.8rem;
  }
  #landing h1 {
    font-size: 1.4rem;
  }
  .bio p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 320px) {
  .nav-bar ul li {
    font-size: 0.6rem;
  }
  #landing h1 {
    font-size: 1.3rem;
  }
  #landing p {
    font-size: 1.1rem;
  }
  .bio p {
    font-size: 0.7rem;
  }
}

/*# sourceMappingURL=index.css.map */
